@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

.container {
    width: 500px;
    padding: 20px;
    /* text-align: center; */
}

.loadingGif {
    width: 100%;
    text-align: center;

}

.loadingGif img {
    margin-top: 50px;
    width: 50px;
}

.logoImage {
    width: 32px;
    padding-right: 4px;
    animation: fadeIn 5s ease-in;

}

.mainDiv {
    text-align: center;
    margin: auto;
    margin-top: 30px
}

.logoText {
    width: 50%;
    border-radius: 10%;
}

/* CSS */
.button-63 {
    background-color: #457279;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    padding: 12px 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    width: 40%;
    margin-right: 20px;
}

.button-63:hover {
    outline: 0;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 80%, #00DDEB);
    color: aliceblue;
}



.form {
    padding: 10px;
    margin-top: 40px;
    width: 100%;
}

.form-holder {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

label {
    color: #11009E;
    margin-left: 10px;
    font-size: 16px;
}

.form-holder input {
    border-radius: 10px;
    padding: 12px 24px;
    color: #4b3636;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none
}