body {
    margin: 0;
    padding: 0;
    background-color: #C4B0FF;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 80%;
    width: 30%;
    border-radius: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow-y: auto;
}

.lyrics pre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* 
.container img {
    
} */